
$rainbow-1: #FFEDC4;
$rainbow-2: #FFF9C3;
$rainbow-3: #DAFAC1;
$rainbow-4: #C5FBDB;
$rainbow-5: #CFF7FF;
$rainbow-6: #C6D6FD;
$rainbow-7: #D6C5FD;
$rainbow-8: #F8C5FD;
$rainbow-9: #FCCBC5;


$rainbows:  #FFEDC4, #FFF9C3, #DAFAC1, #C5FBDB, #CFF7FF, #C6D6FD, #D6C5FD, #F8C5FD, #FCCBC5;